.login_container {
  opacity: 0;
  transition: opacity 1s ease;
}

.visible {
  opacity: 1;
}

#container_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  gap: 0px 4px;
}

#container_logo img {
  height: 24px;
}

#container_logo h1 {
  font-size: 24px;
  font-weight: bold;
  color: var(--primaryColor);
}

.login_actions {
  display: flex;
  justify-content: space-between;
  }
  
  /* 
.login_actions input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  background-color: white;
  transition: background-color 0.2s, border-color 0.2s;
}

.login_actions input[type="checkbox"]:checked {
  background-color: #3EA896;
  border-color: #3EA896;
}

.login_actions a {
  color: var(--primaryColor);
  font-weight: 500;
}

.login_actions a:visited {
  color: var(--primaryColor);
} */