label {
    display: flex;
    flex-direction: column;
}

label p {
    font-size: 16px;
    padding-left: 4px;
}

label input {
    padding: 0 16px;
    height: 48px;
    border: 1px solid var(--borderColor);
    font-size: 16px;
    border-radius: 8px;
}