:root {
  --primaryColor: #3ea896;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
  height: 100dvh;
}

main {
  opacity: 0;
  transition: opacity 1s ease;
}

main.visible {
  opacity: 1;
}
