:root {
  --primaryColor: #3ea896;
  --white: #fff;
  --borderColor: #aaa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
  height: 100dvh;
}

input:not([type="checkbox"]) {
  all: unset;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}